.appWrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'navbar' 'content';
    background-color: black;
}

